<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>iokit</key>
    <dict>
        <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:MLB</key>
        <data>
        QzAyNzIzMjA3QTVIV1ZRQVU=
        </data>
        <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:ROM</key>
        <data>
        +AN3alom
        </data>
        <key>Fyp98tpgj</key>
        <data>
        U0TE/KnCc/AGEUYBuDpD8TQ=
        </data>
        <key>Gq3489ugfi</key>
        <data>
        S7OU9/LJ3K6TUgIzaNHU5kI=
        </data>
        <key>IOMACAddress</key>
        <data>
        3KkEh8Ol
        </data>
        <key>IOPlatformSerialNumber</key>
        <string>C02TV034HV29</string>
        <key>IOPlatformUUID</key>
        <string>0E7049C5-6CC5-57E4-9353-EF54C4332A99</string>
        <key>abKPld1EcMni</key>
        <data>
        uqHToZ+DNmm75/jSPMzB1ZQ=
        </data>
        <key>board-id</key>
        <data>
        TWFjLUI0ODMxQ0VCRDUyQTBDNEMA
        </data>
        <key>kbjfrfpoJU</key>
        <data>
        WnM3jhjelH3+jt4jJ2OqfiQ=
        </data>
        <key>oycqAZloTNDm</key>
        <data>
        BNdC9rh4Wxif7S9NA8W1864=
        </data>
        <key>product-name</key>
        <data>
        TWFjQm9va1BybzE0LDEA
        </data>
    </dict>
    <key>root_disk_uuid</key>
    <string>3D6822B6-A26E-358C-BD6F-EFF407645F34</string>
</dict>
</plist>