<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iokit</key>
	<dict>
		<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:MLB</key>
		<data>
		RlY5OTAyMjA3SFZLTjJSQTE=
		</data>
		<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:ROM</key>
		<data>
		nz38sie/
		</data>
		<key>Fyp98tpgj</key>
		<data>
		YxjKLCq/su7095exqFuWMek=
		</data>
		<key>Gq3489ugfi</key>
		<data>
		ruhELGpELXhaIo1TBEhFRv4=
		</data>
		<key>IOMACAddress</key>
		<data>
		OPnTbKgy
		</data>
		<key>IOPlatformSerialNumber</key>
		<string>FVFYL0E8JK78</string>
		<key>IOPlatformUUID</key>
		<string>79463C0B-E460-53A1-AB04-B16E4BF99F1C</string>
		<key>abKPld1EcMni</key>
		<data>
		348R+lJqcwWM7y/RRM27wRU=
		</data>
		<key>board-id</key>
		<data>
		TWFjLTgyN0ZBQzU4QThGREZBMjIA
		</data>
		<key>kbjfrfpoJU</key>
		<data>
		xgPdzrTzEdRomuloraWSYVE=
		</data>
		<key>oycqAZloTNDm</key>
		<data>
		j/+bRINI3iBGWbgQfmk89Fk=
		</data>
		<key>product-name</key>
		<data>
		TWFjQm9va0FpcjgsMQA=
		</data>
	</dict>
	<key>root_disk_uuid</key>
	<string>E5F0081D-1456-404C-B0E5-9D088F59483A</string>
</dict>
</plist>
