<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>iokit</key>
    <dict>
        <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:MLB</key>
        <data>
        QzA3NjQ5NzAwN0ZHVjZYRFc=
        </data>
        <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14:ROM</key>
        <data>
        qGC26soK
        </data>
        <key>Fyp98tpgj</key>
        <data>
        N7rgxPQOa8kAoaUFzrgOoJI=
        </data>
        <key>Gq3489ugfi</key>
        <data>
        zxsZESjSTtPw9SyBsELYoEM=
        </data>
        <key>IOMACAddress</key>
        <data>
        qGC2H1Am
        </data>
        <key>IOPlatformSerialNumber</key>
        <string>C07SW06DG1J1</string>
        <key>IOPlatformUUID</key>
        <string>9CA28140-E736-59AB-9AC6-792E507D2184</string>
        <key>abKPld1EcMni</key>
        <data>
        mqJmiIGO40uj6irTvezB4K4=
        </data>
        <key>board-id</key>
        <data>
        TWFjLTM1QzVFMDgxMjBDN0VFQUYA
        </data>
        <key>kbjfrfpoJU</key>
        <data>
        RMD8Rrsnoq/nRCd5qG5pxvc=
        </data>
        <key>oycqAZloTNDm</key>
        <data>
        oygSjpinM48Z7vkz7Ttqaek=
        </data>
        <key>product-name</key>
        <data>
        TWFjbWluaTcsMQA=
        </data>
    </dict>
    <key>root_disk_uuid</key>
    <string>2CB26D1C-D73C-4F92-970B-F87341D4144E</string>
</dict>
</plist>